<% @notifications.each do |t|%>
<div class="<%= t.read == false ? 'notification-list unread' : 'notification-list read' %>"  data-time="<%= t.created_at.to_i %>"> 
<%= t.not.content %><span class="created pull-right"><%= t.created_at %></span><br><br><hr>
</div>  
<%end%>
