<% @nots.each do |t|%>
<div class="<%= t.read == false ? 'notify notification-list-item-unread' : 'notify notification-list-item' %>" data-time="<%= t.created_at.to_i %>">
<%= t.not.content %>
</div>	  
<%end%>



