<!-- <h2 class="notification-list-wrapper" style="top: 174px; left: 447px; display:block; opacity: 1;">sarah</h2>  -->

<div id="current-user" data-id="1">

<h2>hello!!</h2>
  <div id="notify"  class="notification-list-wrapper" style="top: 174px; left: 447px; display:block; opacity: 1;">
<%=  render 'notification' %>
  </div>
</div>
  