@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

  .pull {
  margin: 225px;
  color: #bbb;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  }

  .kay {
  padding: 0 !important;
  height: 20px !important;
  }

  .no {
 margin: 79px;
  }
  
  .date {
  color: #686868;
  font-size: 9px;

  }


  .created {
   font-size: 10px;
  }

  .image {
  position:fixed;
  top:120px;
  right:767px;
  }

 .menu {
    background: #f2f2f2;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    padding: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
    display: block;
    margin: 80px auto;
}

 #background {
 background-image: url(bg.jpg);
 background-repeat: no-repeat;
 background-size: 1365px 730px;
 padding: 20px;
 
 }

 td.texta textarea {
	resize:vertical; max-height:200px;
}


 .comments{
 background-color: #F0F0F0;
 text-align: right;
 }

.posts{
 text-align: right;
 }

 .alignright {
	float: right;
}

.aligncenter {
	text-align: center;
}




.sources{
	background-color: #F0F0F0 ;
}

.search {
	display: inline;
	margin-right: 60px;
}

.contribution {
	margin : 20px;
}
 .amount {

margin: 50px;
 }

 h1 , h2 , h3 , h4, h5 , h6 {
 color: #000066;
 }



 #login{
 background-color: #F0F0F0;
 position:fixed;
 margin: 20px;
 }



.style {
	margin: 20px;
}

.progress {
	height: 29px;
	width:500px;
	 text-align: center;
}

.notice {text-align: center; background:#e6efc2;color:#264409;border-color:#c6d880; font-weight: bold; }

p.paragraph{
   font-weight: bold;
    text-align: right; 
    font-size: 25px;
     border: 30px solid white;
}

td.ta textarea {
	resize: vertical; max-height:200px;
	resize:horizontal; max-width:400px;
}

#show {
	text-align: right;
}
