@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 *= jquery.jscrollpane
 */

td.text textarea{
	resize:vertical; height:70px;
	resize:horizontal; width:400px;
}

.head {
	padding-top:30px;
}

.back{
	
	margin-right: 800px;
}

link.hover{color:#ffffff;}

.link{
	color:#C6DEFF;
}

 #background {
 background-image:url(yes3.jpg);
 background-repeat: no-repeat;
 background-size: 1365px 950px;
 padding: 10px;
 height: 900px;
 }

 #back {
 background-image:url(yes3.jpg);
 background-repeat: no-repeat;
 background-size: 1365px 950px;
 padding: 10px;
 height: 900px;
 }

 td.texta textarea {
	resize:vertical; max-height:200px;
}


div.style2{
	
	padding: 40px;
}

 .comments{
 background-color: #F0F0F0;
 text-align: right;
 }

.posts{
 text-align: right;
 }

 .alignright {
	float: right;
}

.aligncenter {
	text-align: center;
}

.sources{
}

.search {
	display: inline;
	margin-right: 60px;
}

.contribution {
	margin : 20px;
}
 .amount {

margin: 50px;
 }

 h1 , h2 , h3 , h4, h5 , h6 {
 color: #000066;
 margin-right: 0px;
 padding: 0 px;
 }



 #login{
 background-color: #F0F0F0;
 position:fixed;
 margin: 20px;
 }



.progress {
	height: 29px;
	width:500px;
	 text-align: center;
}

.notice {
text-align: center; 
background:#e6efc2;
color:#264409;
border-color:#c6d880; 
font-weight: bold; 
}

p.paragraph{
   font-weight: bold;
    text-align: right; 
    font-size: 25px;
     border: 30px solid white;
}

td.ta textarea {
	resize: vertical; max-height:200px;
	resize:horizontal; max-width:400px;
}

#show {
	text-align: right;
}

.body{
	color:#ffffff;
	font-weight:bold;
}

.title{
	padding-top: 30px;
	font-weight: bold;
	font-size: 200%;

}
.body2{
	color:#ffffff;
	font-weight:bold;
}


.budgetsource{
	
	padding-top: 40px;
}

.budgetsourcelist{
	
	padding-top: 100px;
}

.about{
	text-align: justify;
	margin: 20px;
	margin-right: 120px;

}
.level{
	
	padding:-20px;
}

.title2{
	padding-top: 30px;
	font-weight: bold;
	font-size: 200%;
	color: #C6DEFF;
}
.aboutmargin{
	margin-right: 120px;
}

.contact{

	margin-top:-10px;
}

.text1{
	margin-top:-360px;
}

.text2{
	margin-top:-310px;
}

.text3{
	
	margin-top:-270px;
}
