@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

 #background {
 background-image: url(bg.jpg);
 background-repeat: no-repeat;
 background-size: 1365px 730px;
 padding-top: 60px;
 }

 td.texta textarea {
	resize:vertical; max-height:200px;
}


 .comments{
 
 text-align: right;
 width: 300px;

 }

.posts{
 text-align: right;
 }

 .alignright {
	float: right;
}

.aligncenter {
	text-align: center;
}

#background {
 background-image: url(bg.jpg);
 background-repeat: no-repeat;
 background-size: 1365px 730px;
 }


.sources{
	background-color: #F0F0F0 ;
}

.search {
	display: inline;
	margin-right: 60px;
}

.contribution {
	margin : 20px;
}
 .amount {

margin: 50px;
 }

 h1 , h2 , h3 , h4, h5 , h6 {
 color: #000066;
 }



 #login{
 background-color: #F0F0F0;
 position:fixed;
 margin: 20px;
 }



.style {
	margin: 20px;
}

.progress {
	height: 29px;
	width:500px;
	 text-align: center;
}

.notice {text-align: center; background:#e6efc2;color:#264409;border-color:#c6d880; font-weight: bold; }

p.paragraph{
   font-weight: bold;
    text-align: right; 
    font-size: 25px;
     border: 30px solid white;
}

td.ta textarea {
	resize: vertical; max-height:200px;
	resize:horizontal; max-width:400px;
}

#show {
	text-align: right;
}

div.well{
	width: 300px;


}
#eachcom{
	background:#FAFAFA;
	
}
#postaya{
	margin-right: 20px;

	font-style:italic;
	font-size: 24px;
}

i.under{
	margin-right: 20px;
}
#username{
text-decoration:underline;
font-size: 14px;
font-weight: bold;	
}

#com{
	width: 400px;
}

#allpostsborder{
	
}
#posteach{
	
}