@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

 .comments{
 background-color: #F0F0F0;
 text-align: right;
 }

.posts{
 text-align: right;
 }

 .alignright {
	float: right;
}

.aligncenter {
	text-align: center;
}

#background {
 background-image: url(bg.jpg);
 background-repeat: no-repeat;
 background-size: 1365px 730px;
 }


.sources{
	background-color: #F0F0F0 ;
}

.search {
	display: inline;
	margin-right: 60px;
}

.contribution {
	margin : 20px;
}
 .amount {

margin: 50px;
 }

 h1 , h2 , h3 , h4, h5 , h6 {
 color: #000066;
 }



 #login{
 background-color: #F0F0F0;
 position:fixed;
 margin: 20px;
 }



.style {
	margin: 20px;
}

.progress {
	height: 29px;
	width:500px;
	 text-align: center;
}