<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<html dir="rtl">
  <head>
    <script type="text/javascript">
    </script>
  </head>
  <body>
</br>
</br>
</br>
      <% if @groupusers.blank? %>
       <p>ليس لديك أي مجموعة حتى الآن</p>
      <% else %>
        <h3>مجموعاتي</h3>
        <table>
          <tr>
           <th>المجموعة</th>
          </tr>
          <% end %>
            <% @groupusers.each do |group_user| %>
              <tr>
                <td id ="group_name"><%= link_to(group_user.group.group_name,:controller => 'groups',:action=>'show', :id=> group_user.group_id) %></td>
              </tr>
           <% end %>
        </table>
	</br></br>
 </body>
</html>