<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

  <head>
    <script type="text/javascript">
    </script>
  </head>
</br>
</br>
</br>
</br>
</br>
</br>
<h3>مجموعاتي</h3>
<% if @groupusers.blank? %>
 <p>ليس لديك أي مجموعة حتى الآن</p>
<% else %>
<table>
	<tr>
		<th>المجموعة</th>
    </tr>
	<% @groupusers.each do |group_user| %>
	<tr>
		<td id ="group_name"><%= link_to(group_user.group.group_name,:controller => 'groups',:action=>'show', :id=> group_user.group_id) %></td>
	</tr>
	<% end %>
	<% end %>
</table>
</br></br>

