<head>
 <title> My Project List </title>
 <script type="text/javascript">
 var testPatterns = [
        'yyyy','yy','MMMM','MMM','MM','M','dd','d','EEEE','EEE','a',
        'HH','H','hh','h','mm','m','ss','s','S',
        'EEEE MMMM, d yyyy hh:mm:ss.S a',
        'M/d/yy HH:mm'
      ];
        </script>
</head>
<body>
<h1>Listing groups</h1>
<% if @groupusers.blank? %>
<p>You do not have any groups</p>
<% else %>
<h2>List of Groups of: <%= @user.name %> </h2>
<table>
  <tr>
    <th>Group Name</th>
    <th>Group Link</th>
 </tr>

<% end %>


<% @groupusers.each do |group_user| %>

  <tr>
   <td id ="group_name"><%= group_user.group.name %></td>
   <td><%= link_to("view this group",:controller => 'groups',:action=>'show', :id=> group_user.id) %></td>
 </tr>
<% end %>
</table>

</br>
  </br>
 </br>
    <div>
      <script>
        var now = new Date();
        document.write('<div> Date: '+now+'</div>');
        $.each(testPatterns,function(){
          document.write('<div>'+this+'='+$.formatDate(now,this)+'</div>');
        });
      </script>
    </div>
</body>