<head>
 <title> My Project List </title>
</head>

<body>
<h1>المشروعات</h1>
<% if @projectusers.blank? %>
<p>ليس لديك أي مشروعات حاليا</p>
<% else %>
<p>ماشرعاتك الحالية</p>
<% end %>
<table>
  <tr>
    <th>اسم المشروع</th>
    <th>المشروع</th>
  </tr>

<% @projectusers.each do |project_user| %>
  <tr>
   <td id ="project_name"><%= project_user.project.name %></td>
   <td><%= link_to("ذهاب للمشروع",:controller => 'projects',:action=>'show', :id=> project_user.id) %></td>
  </tr>
<% end %>
</table>

</br>
 	</br>
 </br>
</body>