<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<html dir="rtl">
  <head>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <h1>مجموعتي </h1>
      <% if @groupusers.blank? %>
       <p>لم يكن لديك أي مجموعة</p>
      <% else %>
        <h2>قائمة مجموعات من: <%= @user.name %> </h2>
        <table>
          <tr>
           <th>اسم المجموعة</th>
           <th>مجموعة رابط</th>
          </tr>
          <% end %>
            <% @groupusers.each do |group_user| %>
              <tr>
                <td id ="group_name"><%= group_user.group.group_name %></td>
               <td><%= link_to("view this group",:controller => 'groups',:action=>'show', :id=> group_user.group.id) %></td>
              </tr>
           <% end %>
        </table>
 </body>
</html>