<%= stylesheet_link_tag 'application' %>
<head>
 <title> My Project List </title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body dir="rtl" lang="ar">
<h1>المشروعات</h1>
<% if @projectusers.blank? %>
	<p>ليس لديك أي مشروعات حاليا</p>
<% else %>
	<p>ماشرعاتك الحالية</p>
<% end %>
<table>
  <tr>
    <th>اسم المشروع</th>
    <th>المشروع</th>
  </tr>

<% @projectusers.each do |project_user| %>
  <tr>
    <td id ="project_name"><%= project_user.project.name %></td>
    <td><%= link_to("ذهاب للمشروع",:controller => 'projects',:action=>'show', :id=> project_user.id) %></td>
  </tr>
<% end %>
</table>
</body>