<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<% provide(:title, @user.name) %>
	<div>
		<h1>
     	 <%= gravatar_for @user %>
       	 <%= @user.name %>
   		 </h1>
	</div>
<span class="span4 "><%= render 'getMyGroups', :locals => {'@groupusers' => @group_users} %></span>
<span class="span6 "><%= render 'get_myprojects', :locals => {'@projectusers' => @project_users} %></span>


