.myname{
	font-size: 50px;

}

body
{
background-image:url('background wallpaper 6742.jpg');
background-size:1400px 700px;
background-repeat:no-repeat;
background-color:#cccccc;
font-size: 20px;
font-family: Helvetica;
}