#pic{
	position: absolute;
	top:20px;
	left: 15px;
	border: 2px solid black;
}

#name {
	font-family:cursive;
	position: absolute;
	top:40px;
	left: 170px;
	font-size: 40px;
}

dl.info dt {
	font-weight: bold;
	font-size: 17px;
	list-style-type: none;

	
}
dl.info dd {
	background-color: #ccc;
	padding-right: 600px;
}

div.div1 {
	
	position: absolute;
	top:200px;
	left:15px;
	font-family:Trebuchet MS, Helvetica, sans-serif;
}

#div2, #div3 , #div4{
	display: none;
}

#div4 li{
	list-style-type: circle;
	font-weight: normal;
}