<!DOCTYPE html>
<html>
<head>
  <title>MME7</title>
  <%= stylesheet_link_tag    "application", "token-input-facebook", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>

