<!DOCTYPE html>
<html>
<head>
  <title>MME7</title>
 <%= stylesheet_link_tag "application", "token-input" , "token-input-facebook" %>
    <%= javascript_include_tag "application", "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
</head>
<body id = "background">
<div class="navbar" "container">
</div>
<div>
<%= yield %>
</div>
<div>
</div>
</body>
</html>
