<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<html dir="rtl">
<head>
<title>MME7</title>
 <%= stylesheet_link_tag "application", "token-input" , "token-input-facebook","style", "reset", "jquery.jscrollpane",:media=>"all" %>
 <%= javascript_include_tag "application", "jquery.tokeninput" ,"jquery.contentcarousel" , "jquery.easing.1.3" , "jquery.mousewheel" %>
  <%= csrf_meta_tags %>
</head>
<body id ="background">

<div>

<div>
<%= yield %>
</div>

</div>
  

</body>
</html>
