  <table class="table table-striped">
    <% @postlist.each do |post| %>
    <tr>
     <td> <%= post.content %></td>
      <td>
       
       
        <% if isPostCreator(5,post.id) %>
       
<%= form_for(:post, :url=>{:controller => 'posts',:action=>'updatePost', :post_id=>post.id, :group_id => @group_id}) do |f| %>
  
  <%= error_messages_for(@post) %>

<table class="table table-striped">
    <tr class="text-left">
      <%= f.text_field(:content) %>
       </tr>
  </table>
  
<button type= "submit" class="btn btn-success">Edit</button>
  <% end %>
  
        <% end %>
      
      </td>
    </tr>
    <% end %>
  </table>