  <table >
    <% @postlist.each do |post| %>
    <tr>
     <td> <%= post.content %></td>
      <td>
       
       
        <% if isPostCreator(5,post.id) %>
        <%= link_to("Edit", {:controller => 'posts',:action => 'editPost', :id => post.id, :group_id => params[:id]}, :class => 'action editPost' ) %>
        <%= link_to("Delete", {:controller => 'posts',:action => 'delete', :id => post.id, :group_id => params[:id]}) %>
        <% end %>


        
      </td>
    </tr>
    <% end %>
  </table>