  <table >
    <% @postlist.each do |post| %>
    <tr>
     <td> <%= post.content %></td>
      <td>
       
       
   

<%= form_for(:post, :url=>{:controller => 'posts',:action=>'destroy', :id=>post.id, :group_id => @group_id}) do |f| %>
  
    <div >
      <%= submit_tag("Delete post") %>
    </div>
    
  <% end %>



        <% end %>


        
      </td>
    </tr>
    <% end %>
  </table>