  <h2>Delete post</h2>
  
   
<%= form_for(:post, :url=>{:action=>'destroy', :post_id=>@post_id, :group_id => @group_id}) do |f| %>
	
    <div >
      <%= submit_tag("Delete post") %>
    </div>
    
  <% end %>

