
<table class="table table-striped">    
	<% @postlist.each do |post| %>
    <tr>
    <table class="table table-striped">
      <% if isPostCreator(5,post.id) %>
        <%= best_in_place post, :content, :path => {:controller => 'posts', :action => 'updatePost', :id => post.id} %>
        <%else%>
        <%= post.content %>
        <%end%>
    
    </tr>
    </table>
    <% end %>
