
<table class="table table-striped">    
	<% @postlist.each do |post| %>
    <tr>
    <table class="table table-striped">
      <% if isPostCreator(1,post.id) %>
        <%= best_in_place post, :content, :path => {:controller => 'posts', :action => 'updatePost', :id => post.id} %>

    <%= button_to("x", {:controller => 'posts', :action => 'destroy', :post_id => post.id, :group_id => @group.id}, :confirm => 'Are you sure you want to delete this post?', :class => 'action delete') %>
    


        
        <%else%>
        <%= post.content %><div><%= render :partial => "listcomments", :locals => {:post => post} %></div>
 

  
      <%end%>
    </tr>
    </table>
    <% end %>

