<tr>
      <th>الاسم</th>
      </br></br>
      <td><%= f.text_field :group_name %></td>
  </tr>
  </br></br>
  <tr>
      <th>الشرح</th>
      </br></br>
      <td><%= f.text_field :description %></td>
  </tr>
  </br></br>
  <tr>
      <th>المستوة</th>
      </br></br>
      <td><%= f.text_field :levels %></td>
  </tr>
  </br></br>
  