
<table>
  <tr>
    <th>رقم المجموعة</th>
    <th>اسم المجموعة</th>
    <th>الفعل</th>
  </tr>

  <% if @groups %>
  <% @groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.group_name %></td>
    <td><%= link_to("اظهار", {:action => 'show', :id => group.id}, :class => 'action show') %></td>
  </tr>
<% end %>
<%end%>
</table>


  
