<h3>Group succesfully created</h3>
<h2> comm id :<%= @community_id%></h2>

<tr><%= link_to("Add New Group", {:action => 'new'}, :class => 'action new') %></tr>
<tr><%= link_to("Show All Groups", {:action => 'index'}, :class => 'action index') %></tr>




