<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">



  
<div>
  <% if current_user %>
          <%= link_to("إنشاء مجموعة جديدة", {:action => 'new'}, :class => 'action new') %>
  <% end %>
</div>
</br>

<%= form_tag('groups/', :method => 'get',:id => "search",:remote => true) do %>  
      <p> 
          <%= text_field_tag :search, params[:search]%>
          
  		<i class="icon-search"></i>
  	
      </p>  
<%end%>




<br />

<div id= "table"><%= render'table' %></div>
 
