<h1>Create New Group</h1>



<%= form_for(:group, :url => {:action => 'create'}) do |f| %>
<div id= "table"><%= render(:partial => 'table', :locals => {:f => f}) %><div>
  <div>
    <%= submit_tag("create Group") %>
  </div>
   
<% end %>