<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<h1>Create New Group</h1>


<%= form_for(:group, :url => {:action => 'create'}) do |f| %>

<div id= "tableTwo"><%= render(:partial => 'tableTwo', :locals => {:f => f}) %><div>
  <div>
    <%= submit_tag("create Group") %>
  </div>
   
<% end %>