<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>
</br>
</br>
<tr>
      <th>Name:</th>
      <td><%= @group.group_name %></td>
</tr>

</br>
</br>
<tr>
      <th>Description:</th>
      <td><%= @group.description %></td>
</tr>


