<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>

<div>
   
  <table>
   <tr >
    <th>Group name</th>
    <td><%= @group.group_name %></td>
   </tr>

   <tr >
    <th>Description</th>
    <td><%= @group.description %></td>
   </tr>
   
  </table> 

     <div>
 <% if ifMember(params[:id],5)==false %>

 <%= button_to("join",{:controller => 'group_users', :action =>'join', :id => @group_id, :user_id => 5}, :class => 'action show') %>
                   
 <% end %>

     </div>
