<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>

<tr>
      <th>Name:</th>
      <td><%= @group.group_name %></td>
</tr>

<tr>
      <th>Description:</th>
      <td><%= @group.description %></td>
</tr>

<tr>
      <th>created_at:</th>
      <td><%= @group.created_at %></td>
</tr>
