<%= link_to("<< Back to groups list", {:action => 'index'}, :class => 'back-link') %>

<div>  
  <table>
   <tr >
    <th>Group name</th>
    <td><%= @group.group_name %></td>
   </tr>

   <tr >
    <th>Description</th>
    <td><%= @group.description %></td>
   </tr>
   
  </table> 

<div id = "posts">
  <%= render(:partial=> "posts/list") %>
</div>


     <div>
 

     </div>
