<table class ="body">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<tr>
	<td><%= @carousel.title %><br><br></td>
	<td><%= link_to("Edit", {:action=>'edit' , :id => @carousel.id , :project_id => @carousel.project_id} , :class =>"btn")%></td>
</tr>
<tr>
<td><%= @carousel.description %> <br> <br></td>	
</tr>
<tr>
<td><%= image_tag @carousel.news_url(:thumb).to_s %></td>
</tr>

</table>