<table>
<tr>
</tr>

<tr>
	<td><%= @carousel.title %></td>
	<td><%= link_to("Edit", {:action=>'edit' , :id => @carousel.id , :project_id => @carousel.project_id})%></td>
</tr>
<tr>
<td><%= @carousel.description %></td>	
</tr>
<tr>
<td><%= image_tag @carousel.news_url(:thumb).to_s %></td>
</tr>

</table>