
<br>
<br>
<br>
<div class="dialog-form container-fluid offset1">
  <div class="row-fluid">
    <h1 class="offset10">تعديل</h1>
      <p><%= form_for(@component,:as => :component,  :url=>{:action=>'update',:id=>@component.id,:item_id=> @item ,:project_id=> @project_id , :old_name => @old_name , :old_unit_price=> @old_unit_price , :old_quantity_purchased=> @old_quantity_purchased , :old_total_quantity => @old_total_quantity}  , :validate=>true) do |f| %>
        <div>
          <br>
      <br>
      <br>
      <br>
          <%= render(:partial => "form" , :locals => {:f=> f}) %> 
            <div><%= submit_tag("احفظ")%></div>
        </div> 
      <% end %>
    </div>
</div> 

