
 <h2> EDIT</h2>



<div class="subject edit" id="dialog-form">
    <p>	<%= form_for(:budget_component, :url=>{:action=>'update', :id=>@component.id, :item_id=>@item}) do |f| %>
<div id ="table"> <%= render(:partial => "edit" , :locals => {:f=> f}) %> </div> 
	<div><%= submit_tag("Update Component")%></div>
<% end %>
</div> 



