
 <h2> New Component</h2>

<div id="dialog" >
	<%= form_for(:component, :url=>{:action=>'create', :html => {:multipart => true}, :id=> @item}) do |f| %>
<div  id ="table" > <%= render(:partial => "form" , :locals => {:f=> f})%> </div> 
	<div><%= submit_tag("Save Component")%></div>
<% end %>
</div>  
 
