<div class = "aligncenter">
    <h2><%= @group.group_name %></h2>   
</div>
<div id="main-wrap">
  <div id="content-wrap">     
    <br>
    <br>
    <br>
    <% @members.each do |m| %>
      <table class="table">  
        <% if m.user_id != current_user.id %>        
        <tr>      
          <th class = "right">
            <td>
              <p class = "white"><%= link_to(m.user.name,{:controller => 'users', :action => 'show', :id => m.user_id}, {:style=>'color:#FFFFFF;', :class => "css_class"}) %></p>
            </td>          
          </th>              
          <td>             
            <% if m.isCreator == true %>
            <%= link_to("أدمن للمجموعة",{:action => 'promoteMembers', :group_id=> @group.id,   :user_id => m.user_id}, :class =>'btn') %>
            <% else %>     
              <%= link_to("ترقية إلى أدمن",{:action => 'promoteMembers', :group_id=> @group.id, :user_id => m.user_id}, :class =>'btn') %>
            <% end %>  
          </td>
        </tr> <br>  
        <% end %>    
      </table>
    <% end %>
  </div> 
</div>


