<div id="dialog-form" title="Promote Member">
  <% @members.each do |m| %>
  <table class="table table-striped">    
    <% if m.user_id != current_user.id %>        
    <tr>      
      <th class = "right">
        <td><%= m.user.name %></td>          
      </th>              
      <td>             
        <% if m.isCreator == true %>
        <%= link_to("مشرف",{:action => 'promoteMembers', :group_id=> @group.id,   :user_id => m.user_id}, :class =>'btn btn-primary') %>
        <% else %>     
          <%= link_to("عضو",{:action => 'promoteMembers', :group_id=> @group.id, :user_id => m.user_id}, :class =>'btn btn-primary') %>
        <% end %>  
      </td>
    </tr> <br> 
    <% end %>    
    <% end %>
  </table>
</div> 

