<%= link_to("<< Back to List", { :controller => 'groups',:action => 'index'}, :class => 'back-link') %>

<h1>Add Members to the Group</h1>

<table>
	<tr>
		<th>Member ID</th>
      <th>Member Name</th>     
    </tr>

     <% if @users %>
  		<% @users.each do |user| %>
 			 <tr>
   				<td><%= user.id %></td>
    			<td><%= user.first_name %></td>
     			<td><%= link_to("Add", { :action => 'addMembers', :user_id => user.id, :group_id => @group_id}, :class => 'action adding members') %></td>
     		</tr>
		<% end %>
	<%end%>

</table>