<title>title</title>
<h1>اشتراك</h1>
<h1><%= @admin.name %></h1>
	<p>
 	 <button class="btn btn-large" type="button">مجموعات</button>
  	 <button class="btn btn-large" type="button"> المجتمعات</button>
  	  <button class="btn btn-large" type="button">مشاريع</button>
  	 <button class="btn btn-large" type="button">إضافة مشروع</button>
  	  <button class="btn btn-large" type="button">إضافة مجموعة</button>
  	 <button class="btn btn-large" type="button">إضافة المجتمع</button>
	</p>
