<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>title</title>
<div class="half_w half_left">
<div class="h_title">Visits statistics</div>
	<script src="js/highcharts_init.js"></script>
	<div id="container" style="min-width: 300px; height: 180px; margin: 0 auto"></div>
	<script src="js/highcharts.js"></script>
</div>
<div class="half_w half_right">
	<div class="h_title">Site statistics</div>
		<div class="stats">
		<div class="today">
			<h3>Today</h3>
			<p class="count">2 349</p>
			<p class="type">Visits</p>
			<p class="count">96</p>
			<p class="type">Comments</p>
			<p class="count">9</p>
			<p class="type">Articles</p>
		</div>
	    <div class="week">
			<h3>Last week</h3>
			<p class="count">12 931</p>
			<p class="type">Visits</p>
			<p class="count">521</p>
			<p class="type">Comments</p>
			<p class="count">38</p>
			<p class="type">Articles</p>
	    </div>
	</div>
</div>
			
<div class="clear"></div>

<div class="full_w">
	<div class="h_title">Profile</div>
	<% provide(:title, @admin.name) %>
	<div>
		<h1>
     	 <%= gravatar_for @admin %>
       	 <%= @admin.name %>
   		</h1>
	</div>
</div>