<% if object && object.errors.size > 0 %>
  <div id="errorExplanation">
    <h2><%= pluralize(object.errors.size, "خطأ") %> يمنع هذا العنصر من الحفظ</h2>
    <p>اخطاء بالبنود الاتية</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<%end%>
