<% if object.errors.any? %>
<div id="errorExplanation">
    <h2> الاخطاء  </h2>
    <p>يوجد بعض الاخطاء:</p>
 <% object.errors.messages.each do |message| %>
   <div class="message"><%= message.last.last.html_safe %></div>
 <% end %>
<% end %>