<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
 
<div class="post edit">
  <h2 class ="title">تعديل مهمة </h2>
<br>
<br>
<br>
<br>
<br>
  <%= form_for(:task, :url => {:action => 'update', :id =>params[:id], :project_id => params[:project_id]}) do |f| %>
    <table class="body">
      <tr>
        <th>المهمة</th>
        <td><%= f.text_field(:description) %></td>
      </tr>
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("تعديل") %>
    </div>
    
  <% end %>
</div>