
<div >
	<h2>إضافة مهمة جديدة</h2>
	<%= form_for(:task, :url => {:action => 'create', :id =>params[:id], :project_id => params[:project_id]}) do |f| %>
    <%= error_messages_for(@task) %>
    
	<table>
		

		<tr>
			<th>تفاصيل المهمة</th>
			<td><%= f.text_field (:description) %></td>
		</tr>


		
	</table>
	

	<div >  
		<%= submit_tag("إضافة") %>
	</div>

	<% end %>

</div>