// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
color:Crimson;
}
body{
	background-image:url('images3.jpg');
}
p{
	color:Crimson;
	font-family: Helvetica;
}
tr{
	color:Crimson
}