<br>
<br>
<br>
<h1> Budget Sources</h1>

<%= form_tag( 'index', :method => 'get', :id=>"Budget-serach", :remote=>true) do %>
  <p class="offset12">
  	<button type="submit" class="btn btn-info">
    <i class="icon-search"></i> Search
    </button>
    <%= text_field_tag :search, params[:search] , :class=>"input-medium" %>
    
   
  </p>
<% end %>

 <div id="sources-table">
 	<%= render 'table' %>

 </div>






