<table class="table table-striped">

  
    <th>
      <div class="alignright">
      المجتمعات
      </div>
    </th>
    

    <% @communities.each do |community| %>
     <tr>

       <td><div class="alignright"><%= link_to(community.title, {:action => 'show', :id => community.id}, :class => 'action show') %></div></td>
       
       
     </tr>
    <%end%>
  </table>