<h1>مرحبا بيك في من الما  حياة </h1>

 
     <div>
      <%= button_to("View all communities", {:controller => 'communities', :action => 'list', :id =>@community_id}, :class => 'action list') %>
    </div>




  <%= button_to("Add New Community", {:action => 'new'}, :class => 'action new') %>

 