<h1>مرحبا بيك في من الما  حياة </h1>

 
   

 <div>
      <%= button_to("show all groups", {:controller => 'groups', :action => 'index', :id =>@community_id}, :class => 'action list') %>
    </div>

  
