
<h1 class= "text-center">مرحبا بك في من  الماء حياة 
</h1>
 <div class= "text-center">
 	<%= button_to("اضف مجتمع جديد ", {:action => 'new'}, :class => 'btn btn-inverse') %>

    <%= button_to("اظهار جميع المجتمعات ", {:controller => 'communities', :action => 'list', :id =>@community_id}, :class => 'btn btn-inverse') %>
    </div>

    
