<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="community delete">
  <h2>Delete Community</h2>
  
  <%= form_for(:community, :url => {:action => 'destroy', :id => @community.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this community?</p>
  
    <p <%= @community.title %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Community") %>
    </div>
    
  <% end %>
</div>
 
