<div>
<%= link_to("<< Back to home page", {:action => 'home'}, :class => 'back-link') %>
<h2> Communities</h2>
<table class="listing" summary="community list">
    <tr class="header">
      <th>Title</th>
      <th></th>
      <th>Social profile info</th>
      <th></th>
      <th>Contact info</th>
      
    </tr>
    <% @communities.each do |community| %>
     <tr>
       <td><%= community.title %></td>
       <td></td>
       <td><%= community.social_profile_info %></td>
       <td></td>
        <td><%= community. contact_info %></td>
        <td></td>
        
      </tr>
    <% end %>
  </table>
</div>
