<div class="community list">
  <h2>Communities</h2>

  <table class="listing" summary="community list">
    <tr class="header">
      
      <th>Title</th>
      <th>Social profile info</th>
      <th>Contact info</th>
      <th>Actions</th>
    </tr>
    <% @communities.each do |community| %>
     <tr>
       <td><%= community.title %></td>
       <td><%= community.social_profile_info %></td>
        <td><%= community. contact_info %></td>
        <td> 
       
          <%if User.isAdmin == true %>
            <%= link_to("Delete", {:action => 'delete', :id => community.id}, :class => 'action delete') %>
          <%end%> `
        </td>
      </tr>
    <% end %>
  </table>
</div>

