<% @page_title ="تعديل مشروع: #{@project.name}" %>
<%= link_to("ارجع الي القاءمة", {:action => 'listProjects', :class => 'back'} ) %>
<div class="project edit">
    <h2>تعديل مشروع</h2>

    <%= form_for(@project,:as => :project, :url => {:action => 'updateProject', :id => @project.id}, :validate => true) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>
 	<div >
 	  <button class="btn" type="submit">تغير</button>
 	</div>
 	<% end %>   
</div>
