<% @page_title = "Projects List" %>
<div >
 <h2>المشاريع</h2>
 <% if loged_in? %>
	 <% if current_user.isAdmin == true %>
	 	<%= link_to("كون مشروع",{:action => 'newProject'}, :class =>'btn btn-primary') %>
	 <% end %>
  <% end %>
    <table class = "table table-bordered" >
	 	<tr>
	 		<th class="alignright">المشروع</th>
	 	</tr>
	 	
	 	<% @projects.each do |project| %>
	 	<% if loged_in? %>
		 	<table>
		 		<th><%= link_to(project.name, {:action => 'show', :id => project.id}) %></th><br>
		 	</table>
		<% else %>
            <table>
	 			<th><%= project.name %></th><br>
	 	    </table>
		<% end %>
				
		 	
	 	<% end %>
    </table>
</div>


