<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>
<div >
 <h2>Projects</h2>
 <%= link_to("Add new projectt",{:action => 'new'}, :class =>'action new') %>
 <table >
 	<tr >
 		
 		<th>Project</th>
 		<th>start date</th>
 		<th>end date</th>
 		<th>description</th>
 		<th>private</th>
 		<th>action</th>
 	</tr>
 	
 	<% @projects.each do |project| %>
 	<tr>
 		<td> <%= project.project_name %></td>
 		<td > <%= project.start_date %></td>
 		<td > <%= project.end_date %></td>
 		<td > <%= project.description %></td>
 		<td > <%= project.private_or_public %></td>
 		<td><%= link_to("edit", {:action=>'edit', :id=>project.id})%></td>
 		
 	</tr>
 	<% end %>
 </table>
</div>

</div>






