<% @page_title = "Projects List" %>
<div >
 <h2>المشاريع</h2>
 <%= link_to("كون مشروع",{:action => 'newProject'}, :class =>'btn btn-primary') %>
    <table class="table table-striped">
	 	<tr>
	 		<th>المشروع</th>
	 		<th>تاريخ البداية</th>
	 		<th>تاريخ النهاىة</th>
	 		<th>التفاصيل</th>
	 	</tr>
	 	<% @projects.each do |project| %>
	 	<tr>
	 		<td> <%= project.name %></td>
	 		<td> <%= project.start_date %>   </td>
	 		<td> <%= project.end_date %>     </td>
	 		<td> <%= project.description %>  </td>
			<td >
			 	<%= link_to("مشاهدة", {:action => 'show', :id => project.id}) %>
			</td >
			<td >
			   <li><%= link_to("تعدىل", {:action => 'editProject', :id => project.id}) %><i class="icon-pencil"></i> </li>
			</td>
			<td >
			   <li><%= link_to("الغاء", {:action => 'destroy', :id => project.id}) %><i class="icon-remove"></i> </li>
			</td>
	 	</tr>
	 	<% end %>
    </table>
</div>

