<% @page_title = "Projects List" %>
<div >

 <h2>المشاريع</h2>

 <%= link_to("كون مشروع",{:action => 'newProject'}, :class =>'action new') %>

    <table>
	 	<tr>
	 		<th>المشروع</th>
	 		<th>تاريخ البداية</th>
	 		<th>تاريخ النهاىة</th>
	 		<th>التفاصيل</th>
	 	</tr>
	 	
	 	<% @projects.each do |project| %>
		 	<tr>
		 		<td>  <%= project.project_name %></td>
		 		<td> <%= project.start_date %>   </td>
		 		<td> <%= project.end_date %>     </td>
		 		<td> <%= project.description %>  </td>
				<td >
				 	<%= link_to("مشاهدة", {:action => 'show', :id => project.id}, :class =>'action show') %>
				 	<%= link_to("تعديل", {:action => 'editProject', :id => project.id} , :class =>'action edit') %>
				 	<%= link_to("المهام",{:controller=>'tasks',:action => 'listTasks', :id => project.id} , :class =>'action list') %>
				 	<%= link_to("اعضاء") %>
				 	<%= link_to("مجتمعات") %>
				</td>
		 	</tr>
	 	<% end %>
    </table>
 	
</div>





