<%= link_to("Back to list", {:action => 'list', :class => 'back link'} ) %>

<div>
    <h2>Create Projects</h2>
    <%= form_for(:project, :url => {:action => 'create'}) do |f| %>
    <%= render(:partial=>"projectEditCreate", :locals=>{:f=>f}) %>
 	<div >
      <%= submit_tag("create project") %>
 	</div>
 	<% end %>
</div>




