<% @page_title ="تكوين مشروع" %>
<%= link_to("ارجع الي القاءمة", {:action => 'listProjects'} ) %>
<div >
	<br>
    <h2>كون مشروع</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= form_for(:project, :url => {:action => 'createProject'}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>
 	<div >
 		<br>
 	  <button class="btn btn-small" type="submit">تكوين</button>
 	</div>
 	<% end %>     
</div>





