<% @page_title ="تكوين مشروع" %>
<%= link_to("ارجع الي القاءمة", {:action => 'listProjects', :class => 'back link'} ) %>
<div >
    <h2>كون مشروع</h2>
    <%= form_for(:project, :url => {:action => 'createProject'}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>
 	<div >
      <%= submit_tag("تكوين ") %>
 	</div>
 	<% end %>     
</div>





