<% @page_title ="Create Project" %>
<%= link_to("Back to list", {:action => 'listProjects', :class => 'back link'} ) %>

<div >
    <h2>Create Projects</h2>
    <%= form_for(:project, :url => {:action => 'createProject'}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>
 	<div >
      <%= submit_tag("create project") %>
 	</div>
 	<% end %> 
    
</div>





