<% @page_title = "Budget_Source List"%>



<div>
	<%= form_for(:budget_source_project, :url=>{:action=>'create' , :id => @id}) do |f| %>
	<h2>كمية المساهمة للمشروع</h2>
<br>
<br>
<br>
<br>
<br>
 <table>
<tr>
	<th>مشروع</th>
	<th>المبلغ</th>
</tr>
<% @budgets.each do |budget_source_project|%>
<tr>
<td><%= budget_source_project.project.name %></td>	
<td><%= f.text_field(budget_source_project.project.id) %></td>
</tr>
<%end%>
</table>
<td><%= f.submit ("إحفظ") %></td>
<% end %>
</div>