
		<%= form_for(:comment, :url=>{:action=>'updateComment', :comment_id=> c.id}) do |f| %>
	

	<table summary = "The Comment">
		
		<tr>
			<th><%= f.label(:comment, "Comment")%></th>
			<td><%= f.text_field(:comment) %></td>
       </tr>

	</table>

	<% end %>

</div>
