
﻿<div >

﻿<% if !flash[:notice].blank? %>
<div class="notice">
  <%= flash[:notice] %>
</div>
<% end %>

<div >

  <h2>comments</h2>
  <table >
  <tr>
      <th></th>
      <th>Comments List</th>
      <%= @post.content %>      
  </tr>
    <% @post.comments.each do |comment| %>
  <tr>
     <td> <%= comment.comment %></td>
  </tr>
  <% end %>
  </div>
