<div> 
	<h2>Update Budget Item</h2>
	<%= form_for(:budget_item, :url=>{:action=>'assign_user'}) do |f| %>
	<table>
<th>assign a user:</th>
<td>
	<% for user in User.find(:all) %>
	<div>
	<%= check_box_tag "budget_item.users[id][]", user.id, @budget_item.users.include?(user) %>
	<%= user.name %>
	</div>
	<% end %>
</td>
</table>
<p>
<td><%= f.submit %></td>
</p>
<% end %>
</div>
