<div >

    <h2>Create Projects</h2>
    <table >
 	  <tr >
 	  	<% for budget_item in BudgetItem.find(:all) %>
 		<th>Budget Item Id </th>
 		<td><%= text_field :budget_item, :id %></td>
 	 </tr>
 	 <% end %> 
 	  <tr >
 	  	<% for user in User.find(:all) %>
 		<th>User Id </th>
 		<td><%= text_field :user,:id %></td>
 	 </tr>
	<% end %> 
     </table>
 
    

</div>

</div>
