<% @page_title = "Subjects List"%>



<div class= "Subject List">
	<h2>Components</h2>
    
	<%= link_to({:action=>'new'}, class: "btn btn-success") do %>
       New Component <i class="icon-plus icon-white"></i>
      <% end %>


 <table class="table" summary="Subject List">
<tr class="header">
	<th>Name</th>
	<th>Action</th>
</tr>
<% @items.each do |item|%>
<tr>
	<td><%= item.name %></td>

	<td class="actions">
		<%= link_to("Edit", {:action=>'edit' ,:id=>item.id},:class=>"btn btn-small")%>
		<%= link_to("View", {:controller=>'budget_components',:action=>'list' ,:id=>item.id}, :class=>"btn btn-small")%>
		
	</td>
	
</tr>
<%end%>