<% @page_title = "Budget_Item List"%>

<div>
	<h2>عناصر الميزانية</h2>
    
	<%= link_to("عنصر جديد" ,{:action=>'new' , :id => @project}, class: "btn btn-success") %>

 <table class ="table">
	<tr>
		<th>إسم</th>
		<th>فعل</th>	
	</tr>

	<% @items.each do |item|%>
	<tr>
		<td><%= item.name %></td>
	  <% if isProjectCreator(1, @project) == true %>
		<td><%= link_to("Edit", {:action=>'edit' , :item=>item.id , :id => item.project_id},:class=>"btn btn-small")%></td>
		
    <%end%>
	</tr>
	<%end%>
</table>
</div>