<% @page_title = "Budget_Item List"%>



<div>
	<h2>عناصر الميزانية</h2>
    
	<%= link_to("عنصر جديد" ,{:action=>'new'}, class: "btn btn-success") %>
      


 <table>
	<tr>
		<th>إسم</th>
		<th>فعل</th>
		
		
	</tr>

	<% @items.each do |item|%>


	<tr>
	
	  <% if isProjectCreator(1, @projectid) == true %>
		<td><%= best_in_place(item, :name , :path => {:action=>'update' , :id => item.id}) %></td>

	<% else%>
		<td><%= item.name %></td>
    <%end%>
	</tr>
	<%end%>
</table>
</div>