<%= render(:partial => 'shared/error_messages' , :locals => {:object => @budget_item}) %>
<div> 
	<h2>Create Budget Item</h2>
	<%= form_for(:budget_item, :url=>{:action=>'create' , :project_id => @project }) do |f| %>
	<%= render(:partial=>'budget', :locals=>{:f=>f}) %>
</br>
<p>
<td><%= f.submit %></td>
</p>
<% end %>
</div>
